<nav class="navbar is-dark">
  <div class="container">
    <div class="navbar-brand">
      <a class="navbar-item" href="/">Daily Tasks</a>

      <button class="button navbar-burger">
        <span></span>
        <span></span>
        <span></span>
      </button>
    </div>

    <div class="navbar-menu">
      <div class="navbar-end">
        <div class="navbar-item has-dropdown is-hoverable" *ngIf="mostrarMenu">
          <a class="navbar-link">
            {{mostrarNome}}
          </a>
          <div class="navbar-dropdown">
            <a class="navbar-item" href="/dashboard">Tarefas</a>
            <a class="navbar-item" routerLink="/" routerLinkActive="active" (click)="mostrarMenu=false">Logout</a>
          </div>

        </div>

        <a class="navbar-item" routerLink="/login" routerLinkActive="active" *ngIf="!mostrarMenu">Login</a>

      </div>
    </div>
  </div>
</nav>